html, body, .container {
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(227, 10%, 46%);
    text-align: center;
  }
  html {
    background: url('/images/bg-pattern-top.svg')
     top -30rem 
     left -15rem no-repeat,
      url('/images/bg-pattern-bottom.svg')
       bottom -40rem 
       right -15rem no-repeat,
      hsl(185, 75%, 39%);
  }
    
      h1 {
        font-size: 18px;
        font-weight: 700;
        color: hsl(229, 23%, 23%);
      }
      
      p {
        font-size: 14px;
        font-weight: 400;
      }
      
      hr {
        border-top: 1px solid hsl(0, 0%, 90%);
        margin: 25px auto 15px;
      }
      
      table {
        table-layout: fixed ;
        width: 100%;
        line-height: 80%;
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .card-container {
        width: 330px;
        height: 380px;
        border-radius: 15px;
        background-image: url("/images/bg-pattern-card.svg");
        background-color: white;
        background-repeat: no-repeat no-repeat;
        background-size: 100% 37%;
      }
      .image {
        display: block;
        margin: 90px auto 25px;
        border-radius: 50%;
        border: 5px solid white;
      }
      .info {
        display: inline;
        font-size: 18px;
      }
      .social {
        font-size: 10px;
        letter-spacing: 2px;
      }
      @media (max-width: 375px) {
        html {
          background-position: top -35rem 
          left -45rem, 
          bottom -35rem 
          right -45rem;
        }
      }
